<div class="flex flex-row items-center mt-2">
  <ng-container *ngIf="!showInput">
    <button type="button" (click)="showInput = true"
      class="h-12 bg-[--primary-color] text-white px-3 py-1 rounded-full hover:bg-[--secondary-color]">
      Añadir participante
    </button>
  </ng-container>
  <div class="flex flex-col h-20 items-end">
    <form *ngIf="showInput" (ngSubmit)="addParticipantWithDetails(participantName, destination ?? 0)"
      class="flex flex-row items-center w-full">
      <input type="text"
        [(ngModel)]="participantName"
        name="participantName"
        placeholder="Nombre del participante"
        required
        class="border h-12 px-6 rounded-full p-1 mr-2 flex-1"
        @slideInRight>
      <div class="flex flex-col justify-end w-auto">
        <div class="flex flex-row h-12 items-center">
          <button type="submit"
            [disabled]="!participantName || participantExists()"
            class="h-12 bg-[--primary-color] text-white px-3 py-1 rounded-full hover:bg-[--secondary-color]">
            Guardar
          </button>
          <button type="button" (click)="cancelAdd()" class="ml-2 text-gray-500">Cancelar</button>
        </div>
      </div>
    </form>
    <p *ngIf="participantExists()" class="text-red-500 text-sm mt-2">
      {{ ValidatorMessages['participantDuplicate'] }}
    </p>
  </div>
</div>
<p-toast></p-toast>