<div class="flex flex-row h-lvh">
  <section id="background" class="w-[50%] h-full relative overflow-hidden">
    <app-animated-background></app-animated-background>
  </section>
  <section class="bg-white w-[50%] h-full flex items-center justify-center">
    <div class="flex flex-col items-center justify-center w-full px-32">
      <picture class="w-[300px] h-[150px]">
        <source srcset="../assets/img/logo.png" media="(min-width: 1024px)" class="rounded">
        <source srcset="../assets/img/logo.png" media="(min-width: 768px)" class="rounded">
        <source srcset="../assets/img/logo.png" media="(max-width: 767px)" class="rounded">
        <img src="../assets/img/logo.png" alt="Sample Image" class="rounded">
      </picture>
      <h1 class="my-6 text-l font-bold text-center">Tu puerta al mundo. Planifica, descubre y vive tu próximo destino.</h1>
      <form class="w-full" (ngSubmit)="register()">
        <div class=" mb-4 h-24">
          <label class="">Email</label>
          <input class="mt-2 w-full h-12 border p-2 rounded-full" type="email" [(ngModel)]="email" name="email" (ngModelChange)="clearError('email')" required>
          <p *ngIf="errorMessageE" class="text-red-500 text-sm">{{ errorMessageE }}</p>
        </div>
        <div class="flex flex-row">
          <div class="mb-4 mr-2 w-[50%] h-24">
            <label class="my-2">Nombre</label>
            <input class="mt-2 w-full h-12 border p-2 rounded-full" type="text" [(ngModel)]="firstName" name="firstName" (ngModelChange)="clearError('firstName')" required>
            <p *ngIf="errorMessageN" class="text-red-500 text-sm">{{ errorMessageN }}</p>
          </div>
          <div class="mb-4 ml-2 w-[50%] h-24">
            <label class="my-2">Apellido</label>
            <input class="mt-2 w-full h-12 border p-2 rounded-full" type="text" [(ngModel)]="lastName" name="lastName" (ngModelChange)="clearError('lastName')" required>
            <p *ngIf="errorMessageLN" class="text-red-500 text-sm">{{ errorMessageLN }}</p>
          </div>
        </div>
        <div class="flex flex-row">
          <div class="mb-4 mr-2 w-[50%] h-24">
            <label class="my-2">Contraseña</label>
            <input class="mt-2 w-full h-12 border p-2 rounded-full" type="password" [(ngModel)]="password" name="password" (ngModelChange)="clearError('password')" required>
            <p *ngIf="errorMessageP" class="text-red-500 text-sm">{{ errorMessageP }}</p>
          </div>
          <div class="mb-4 ml-2 w-[50%] h-24">
            <label class="my-2">Repetir contraseña</label>
            <input class="mt-2 w-full h-12 border p-2 rounded-full" type="password" [(ngModel)]="repeatPassword" name="repeat-password" (ngModelChange)="clearError('repeat-password')" required>
            <p *ngIf="errorMessageRP" class="text-red-500 text-sm">{{ errorMessageRP }}</p>
          </div>
        </div>
        <button class="border bg-[--primary-color] hover:bg-[--secondary-color] text-white py-2 px-4 rounded-full w-full">Registrarse</button>
      </form>
      <p class="my-2">Ya tienes cuenta? <strong><button class="text-[--primary-color] hover:text-[--secondary-color]" (click)="navigateToLogin()">Inicia sesión</button></strong></p>
    </div>
  </section>
</div>