<div class="flex h-screen">
  <!-- Sidebar -->
  <app-header class="w-16"></app-header>

  <!-- Main Content -->
  <div class="flex flex-grow">
    <!-- Expenses Section -->
    <section class="container w-[65%] p-8 pt-5 flex flex-col">
      <!-- Header -->
      <div class="sticky top-0 bg-white z-10 pb-3">
        <div class="flex flex-row justify-between items-center">
          <div class="w-[30%]">
            <h1 class="text-4xl font-bold text-gray-800">Gastos</h1>
            <hr class="border-black border-[1px] mt-4">
          </div>
          <button (click)="toggleForm()"
            class="h-12 bg-[--primary-color] text-white px-4 py-2 rounded-full hover:bg-[--secondary-color] transition duration-300">
            Añadir gasto
          </button>
        </div>
        <div class="flex flex-row items-center justify-between w-full mt-4">
          <h3 class="text-xl font-bold text-gray-800">Gastos Totales</h3>
          <div *ngIf="expenses.length > 0"
            class="h-12 bg-[--primary-color] text-white px-4 py-2 rounded-full flex items-center justify-center">
            {{ getTotalExpenses() | number:'1.2-2' }}€
          </div>
        </div>
        <hr class="w-full border-black border-[1px] mt-2">
      </div>

      <!-- Expenses List -->
      <div class="flex-grow overflow-y-auto mt-4">
        <div *ngIf="expenses.length == 0">
          <p class="text-xl pl-3 my-4">No hay gastos creados. ¡Añade el primero!</p>
        </div>
        <div *ngIf="expenses.length > 0">
          <ul>
            <li *ngFor="let expense of expenses" class="my-3">
              <div
                class="flex flex-row items-center w-auto h-20 p-6 rounded-3xl bg-[--primary-color] hover:bg-[--secondary-color] transition duration-300 justify-between cursor-pointer"
                (click)="onClickExpense(expense)">
                <div class="flex flex-col text-left">
                  <h3 class="text-lg text-white">{{ expense.itinerary_name }} - {{ expense.city_name }}</h3>
                </div>
                <div class="flex items-center justify-end">
                  <p class="text-white">{{ expense.total_amount | number:'1.2-2' }}€</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <!-- Expense Details Section -->
    <section class="p-8 border-l-2 border-gray w-[35%] h-screen overflow-y-auto">
      <div *ngIf="selectedExpense; else noExpense">
        <!-- Cluster 1 -->
        <div class="mb-8 flex flex-col items-center justify-between">
          <div class="flex flex-col">
            <div class="flex flex-row">
              <h1 class="text-xl font-bold">Nombre: </h1>
              <span class="mx-2"></span>
              <h1 class="text-xl font-normal flex flex-row justify-between"> {{ selectedExpense.Gasto.itinerary_name }}
                - {{ selectedExpense.Gasto.city_name }}</h1>
            </div>
          </div>
          <div
            class="rounded-full mt-6 bg-[--primary-color] h-12 text-center text-white font-bold flex px-4 items-center">
            Tipo: {{ selectedExpense.Gasto.type_expense === 'Equalitarian' ? 'Equitativo' : 'Personalizado' }}
          </div>
        </div>
        <div class="my-4 flex flex-row justify-between items-center">
          <h2 class="text-md">Costes totales:</h2>
          <div class="h-10 bg-[--primary-color] text-white px-4 py-2 rounded-full flex items-center justify-center">
            {{ selectedExpense.Gasto.total_amount }}€
          </div>
        </div>
        <hr class="w-full border-black border-[1px]">
        <div class="mt-4 flex flex-row justify-between items-center">
          <h2 class="text-md">Pagado por:</h2>
          <div class="h-10 bg-[--primary-color] text-white px-4 py-2 rounded-full flex items-center justify-center">
            {{ selectedExpense.Gasto.paid_by_name || 'Usuario' }}
          </div>
        </div>
        <hr class="w-full border-black border-[1px] mt-4">

        <!-- Cluster 2 -->
        <div class="mt-8">
          <h1 class="text-xl font-bold">Gastos individuales</h1>
          <hr class="w-[75%] border-black border-[1px] mt-2">
          <div *ngFor="let ue of selectedExpense.Gasto.user_expenses" class="mb-4">
            <div class="flex flex-row items-center justify-between">
              <h2 class="text-md">{{ ue.user_name || 'Usuario' }}:</h2>
              <div class="h-10 bg-[--primary-color] text-white px-4 py-2 rounded-full flex items-center justify-center">
                {{ ue.expected_share }}€
              </div>
            </div>
            <hr class="w-full border-black border-[1px] mt-4">
          </div>
        </div>

        <!-- Cluster 3 -->
        <div class="mt-8">
          <h1 class="text-xl font-bold">Descripción</h1>
          <hr class="w-[75%] border-black border-[1px] mt-2 mb-2">
          <p class="w-full h-32 px-4 py-2 rounded-2xl border border-gray-300 resize-y whitespace-pre-line">
            {{ selectedExpense.Gasto.description }}
          </p>
        </div>

        <!-- Cluster 4 -->
        <div class="mt-8">
          <h1 class="text-xl font-bold">Deuda</h1>
          <hr class="w-[75%] border-black border-[1px] mt-2">
          <div *ngFor="let ue of selectedExpense.Gasto.user_expenses" class="mb-4">
            <ng-container *ngIf="ue.user_name !== selectedExpense.Gasto.paid_by_name">
              <div class="flex flex-row items-center justify-between">
                <h2 class="text-md">{{ ue.user_name || 'Usuario' }}:</h2>
                <div
                  class="h-10 bg-[--primary-color] text-white px-4 py-2 rounded-full flex items-center justify-center">
                  {{ ue.expected_share }}€
                </div>
              </div>
              <hr class="w-full border-black border-[1px] mt-4">
            </ng-container>
          </div>
        </div>
      </div>
      <ng-template #noExpense>
        <div class="flex items-center justify-center h-full">
          <p class="text-center text-gray-500">Ningún gasto seleccionado</p>
        </div>
      </ng-template>
    </section>
  </div>
</div>

<!-- Modal -->
<div *ngIf="showForm" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
  <div class="bg-white p-8 rounded-2xl shadow-lg w-[55%] h-auto relative">
    <button (click)="toggleForm()" class="absolute top-4 right-4 text-gray-500 hover:text-gray-800">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
        class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>

    <div class="flex flex-row justify-between items-center">
      <div class="w-[70%]">
        <h1 class="text-3xl font-bold text-gray-800">Nuevo gasto</h1>
        <hr class="w-[60%] border-black border-[1px] mt-4">
      </div>
      <div class="w-[30%] flex flex-row">
        <button type="button"
          class="h-12 w-full bg-[--primary-color] hover:bg-[--secondary-color] rounded-full text-white mr-4"
          (click)="setEqualitarian()"
          [ngClass]="{'bg-[--primary-color] text-white': expenseForm.value.type_expense === 'Equalitarian', 'bg-gray-200 text-gray-800': expenseForm.value.type_expense !== 'Equalitarian'}">
          Equitativo</button>
        <button type="button"
          class="h-12 w-full bg-[--primary-color] hover:bg-[--secondary-color] rounded-full text-white"
          (click)="setPersonalized()"
          [ngClass]="{'bg-[--primary-color] text-white': expenseForm.value.type_expense === 'Personalized', 'bg-gray-200 text-gray-800': expenseForm.value.type_expense !== 'Personalized'}">
          Personalizado
        </button>
      </div>
    </div>

    <form [formGroup]="expenseForm" (ngSubmit)="onSubmit()" class="mt-6">
      <div class="flex flex-row justify-between">
        <!-- Itinerary -->
        <div class="mb-4 w-[47%]">
          <label for="itinerary" class="block text-gray-700">Itinerario *</label>
          <select id="itinerary" formControlName="itinerary" (change)="onItineraryChange()"
            class="w-full h-12 border p-2 rounded-full" required>
            <option value="" disabled selected>Selecciona un itinerario</option>
            <option *ngFor="let itin of itineraries" [value]="itin.itinerary_id">{{ itin.itinerary_name }}</option>
          </select>
          <div *ngIf="formSubmitted && expenseForm.errors && expenses.errors.itineraryRequired"
            class="text-red-500 mb-4">
            {{ validatorMessages['itineraryRequired'] }}
          </div>
        </div>
        <!-- Destination -->
        <div class="mb-4 w-[47%]">
          <label for="destination" class="block text-gray-700">Destino *</label>
          <select id="destination" formControlName="destination" (change)="onDestinationsChange()"
            class="w-full h-12 border p-2 rounded-full" required>
            <option value="" disabled selected>Selecciona un destino</option>
            <option *ngFor="let dest of destinations" [value]="dest.destination_id">{{ dest.city_name }}</option>
          </select>
          <div *ngIf="formSubmitted && expenseForm.errors && expenses.errors.destinationRequired"
            class="text-red-500 mb-4">
            {{ validatorMessages['destinationRequired'] }}
          </div>
        </div>
      </div>

      <label for="paidByUser" class="block text-gray-700">Pagado por el usuario *</label>
      <div class="flex flex-row w-full items-center justify-between">
        <!-- Paid By -->
        <div class="mb-4 w-[85%]">
          <select id="paidByUser" formControlName="payer" (change)="onPayerChange()"
            class="w-full h-12 border p-2 rounded-full" required>
            <option value="" disabled selected>Selecciona un pagador</option>
            <option *ngFor="let p of participants" [value]="p.participant_id">{{ p.participant_name }}</option>
          </select>
        </div>
        <!-- Total Amount -->
        <div class="mb-4 w-[10%]">
          <input id="totalAmount" formControlName="total_amount" type="number" min="0" placeholder="00.00€"
            class="w-full h-12 border p-2 rounded-full bg-[--primary-color] text-white text-center placeholder-white appearance-none no-spinner"
            required>
        </div>
      </div>

      <!-- Description -->
      <div class="mb-4">
        <label for="description" class="block text-gray-700">Descripción</label>
        <textarea id="description" formControlName="description" class="w-full h-24 border p-2 rounded-lg"
          placeholder="Escribe una descripción detallada sobre el gasto..."></textarea>
      </div>

      <!-- Debtors -->
      <div formArrayName="debtors" class="mb-4 h-64 overflow-y-auto">
        <div class="flex flex-row items-center justify-between sticky top-0 bg-white z-10 p-2">
          <label class="block text-gray-700">Deudores *</label>
          <!-- Parece que no funciona la primera condición value.payer-->
          <button type="button" (click)="addDebtor()"
            [disabled]="!expenseForm.value.payer || possibleDebtors.length === 0 || debtorsControls.length >= possibleDebtors.length - 1"
            class="bg-[--primary-color] hover:bg-[--secondary-color] text-white px-4 py-2 rounded-full">Añadir
            deudor</button>
        </div>
        <div *ngFor="let debtor of debtorsControls; let i = index" [formGroupName]="i" class="mb-2">
          <div class="flex justify-between items-center">
            <select formControlName="id" class="w-[85%] h-12 border p-2 rounded-full" required>
              <option value="" disabled selected>Selecciona deudor</option>
              <option *ngFor="let p of getPossibleDebtors(i)" [value]="p.participant_id">{{ p.participant_name }}
              </option>
            </select>
            <div class="flex flex-row justify-between">
              <input *ngIf="expenseForm.get('type_expense')?.value !== 'Equalitarian'" formControlName="amount"
                type="number" min="0" placeholder="00.00€"
                class="w-20 h-12 border p-2 rounded-full bg-[--primary-color] text-white text-center placeholder-white no-spinner"
                required>
              <button type="button" (click)="removeDebtor(i)">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="red"
                  class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- <div
        *ngIf="formSubmitted && (expenseForm.errors && (expenseForm.errors['payerRequired'] || expenseForm.errors['payerAmountRequired'] || expenseForm.errors['debtorsExceedTotal']))"
        class="text-red-500 text-center mb-4">
        <div *ngIf="expenseForm.errors && expenseForm.errors['payerRequired']">
          {{ validatorMessages['payerRequired'] }}
        </div>
        <div *ngIf="expenseForm.errors && expenseForm.errors['payerAmountRequired']">
          {{ validatorMessages['payerAmountRequired'] }}
        </div>
        <div *ngIf="expenseForm.errors && expenseForm.errors['debtorsExceedTotal']">
          {{ validatorMessages['debtorsExceedTotal'] }}
        </div>
      </div> -->

      <!-- Submit Button -->
      <div class="flex justify-center mt-6">
        <button type="submit"
          class="bg-[--primary-color] text-white w-[60%] h-14 px-4 py-2 rounded-full hover:bg-[--secondary-color]">
          Crear gasto
        </button>
      </div>
    </form>
  </div>
</div>