<div class="flex h-lvh">
  <app-header class="w-16"></app-header>
  <div class="flex flex-grow">
    <section class="container w-[65%] p-8 pt-5">
      <div class="expenses-header w-auto h-20 flex flex-row justify-between items-center">
        <div class="w-[30%]">
          <h1 class="text-4xl font-bold text-gray-800">Gastos</h1>
            <hr class="flex-grow border-black border-2 mt-4">
        </div>
        <button class="add-expense h-12 bg-[--primary-color] text-white px-4 py-2 rounded-full hover:bg-[--secondary-color] transition duration-300">
          Añadir gasto
        </button>
      </div>
      <div *ngIf="expenses.length == 0">
        <p class="text-xl pl-3 my-4">No hay itinerarios creados. ¡Añade el primero!</p>
      </div>
      <div *ngIf="expenses.length > 0" class=" mt-6">
        <ul>
          <li *ngFor="let expense of expenses" class="my-3">
              <div class="flex flex-row items-center justify-between w-auto h-20 p-6 rounded-3xl bg-[--primary-color] hover:bg-[--secondary-color] transition duration-300" (click)="goToDestinations(expense.itinerary_id)" style="cursor:pointer;">                <h3 class="text-lg text text-white w-[30%]">{{ expense.itinerary_name }}</h3>
                <h3 class="text-lg text text-white w-[30%]">{{ expense.destination }}</h3>
              <div class="flex flex-row items-center w-[30%] justify-end">
                <p class="text-lg text-white">{{ expense.total_amount }}</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>

    <section class="map w-[35%]">
      <gmp-map 
      [center]="center" 
      [zoom]="zoom" 
      [options]="mapOptions" 
      style="height: 100%; width: 100%;">
      </gmp-map>
    </section>
  </div>
</div>