<div>
    <!-- <span class="text-base">{{ city }}</span> -->

    <div class="flex items-center gap-2 w-auto">
        <!-- Botón para decrementar -->
        <button (click)="decrement()" class="bg-none border-none text-lg cursor-pointer px-2 text-white">−</button>

        <!-- Círculo con progreso -->
        <div class="relative w-12 h-12">
            <svg class="w-full h-full transform -rotate-90" viewBox="0 0 36 36">
                <!-- Fondo del círculo -->
                <circle cx="18" cy="18" r="16" fill="none" stroke="#e5e7eb" stroke-width="4"></circle>
                <!-- Progreso del círculo -->
                <circle cx="18" cy="18" r="16" fill="none" [attr.stroke-dasharray]="circumference"
                    [attr.stroke-dashoffset]="circumference - (count / max) * circumference" stroke="#000000"
                    stroke-width="4" stroke-linecap="round"></circle>
            </svg>
            <div class="absolute inset-0 flex items-center justify-center font-bold text-sm text-white">
                {{ count }} / {{ max }}
            </div>
        </div>

        <!-- Botón para incrementar -->
        <button (click)="increment()" class="bg-none border-none text-lg cursor-pointer px-2 text-white">+</button>
    </div>

</div>