<div class="flex h-screen">
    <!-- Sidebar -->
    <app-header class="w-16"></app-header>

    <!-- Main Content -->
    <div class="flex flex-grow">
        <!-- Places Section -->
        <section class="container w-[65%] p-8 pt-5 flex flex-col h-full">
            <!-- Sticky Header -->
            <div class="sticky top-0 bg-white z-10 pb-3 h-28">
                <div class="header w-full h-20 flex flex-row justify-between items-center">
                    <div class="flex flex-col">
                        <div *ngIf="currentDestination">
                            <h1 class="text-2xl font-bold">{{ currentDestination.city_name }}</h1>
                            <h2 class="text-xl font-semibold">{{ currentDestination.country }}</h2>
                            <time class="text-xl" [attr.datetime]="currentDestination.start_date">
                                {{ currentDestination.start_date | date:'dd-MMMM-yyyy' }}
                            </time>
                            -
                            <time class="text-xl" [attr.datetime]="currentDestination.end_date">
                                {{ currentDestination.end_date | date:'dd-MMMM-yyyy' }}
                            </time>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Accordion Sections -->
            <div class="accordion border rounded-3xl border-gray-600 flex-grow">
                <div class="accordion-item">
                    <!-- Botón para abrir/cerrar la sección -->
                    <button
                        class="accordion-header mb-4 w-full flex flex-row items-center justify-between h-20 p-6 rounded-3xl bg-[--primary-color] hover:bg-[--secondary-color] transition duration-300"
                        (click)="toggleSection(0)">
                        <span class="flex items-center gap-2">
                            <span class="mr-4" [innerHTML]="svgIcons[0]"></span>
                            <span class="text-lg text-white"> {{ categoriaSeleccionada }} </span>
                        </span>
                        <span class="transition-transform duration-300" [class.rotate-90]="sectionOpen">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="white" class="h-6 w-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                            </svg>
                        </span>
                    </button>

                    <!-- Contenido de la sección -->
                    <div class="accordion-content overflow-hidden transition-all duration-300 ease-in-out bg-white px-4"
                        [class.max-h-0]="!sectionOpen" [style.maxHeight]="sectionOpen ? 'calc(100vh - 7rem)' : '0px'">
                        <p>Contenido de {{ categoriaSeleccionada }}</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Map Section -->
        <section class="map w-[35%]">
            <app-map [center]="mapLocation" [zoom]="13"></app-map>
        </section>
    </div>
</div>