<div class="flex h-screen">
    <!-- Sidebar -->
    <app-header class="w-16"></app-header>
  
    <!-- Main Content -->
    <div class="flex flex-grow">
      <!-- Destinations Section -->
      <section class="container w-[65%] p-8 pt-5 flex flex-col">
        <!-- Sticky Header -->
        <div class="sticky top-0 bg-white z-10 pb-3">
        
        </div>
      </section>
  
      <!-- Map Section -->
      <section class="map w-[35%]">
        <app-map></app-map>
      </section>
    </div>
  </div>